/*font start*/
@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RotoMono";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url(landing_page/fonts/Google-Sans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url(landing_page/fonts/Google-Sans-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url(fonts/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(fonts/NotoSansKR-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*font end*/

/* body */
:root {
  --text-color: #ffffff;
  --body-text-color: #cecece;
  --background-color: #090a0d;
}

/* 모바일 수평 스크롤 금지 */
html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.background {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-attachment: scroll;
  background-color: #090a0d;
  max-width: fit-content;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

/*page1 start*/
.page1{
  background-image: url(img/page1_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.page1 a {
  color: var(--text-color);
}

.page1_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 0 7rem 1.5rem;
}

.page1_header_logo {
  margin: 1.688rem 0 0 0;
  height: 0.63rem;
  display: flex;
  align-items: center;
}

.page1_header_logo_link {
  text-decoration: none;
}

.page1_header_logo_head {
  font-family: "GoogleSans";
  font-weight: 700;
  font-size: 0.5rem;
  width: 1.5rem;
  height: 0.625rem;
}

.page1_header_logo_tail {
  font-family: "GoogleSans";
  font-weight: 400;
  width: 9.4vw;
  height: 1.43vh;
  font-size: 0.5rem;
  margin: 0.563rem 0 0.625rem 0.313rem;
}

.page1_header_join {
  margin: 1.125rem 1.375rem 0 0;
  font-family: "OpenSans";
  font-weight: 700;
  text-shadow: 0px 0.125rem 3.125rem rgba(0, 0, 0, 0.5);
  font-size: 0.5rem;
  background-color: #4285f4;
  color: var(--text-color);
  border: none;
  text-align: center;
  border-radius: 1.656rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 1.813rem;
  white-space: nowrap;
}

.page1_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page1_section_logo {
  margin: 0 0 0.862rem 0;
  width: 18.49vw;
  height: 4.9vh;
}

.page1_section_headline {
  color: var(--text-color);
}

#gdsc {
  font-family: "OpenSans";
  font-weight: 550;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  line-height: 2.063rem;
  margin: 0 0 0 0;
}

#inha {
  font-family: "OpenSans";
  font-weight: 100;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  margin: 0.813rem 0 0 0;
}

.page1_section_body {
  color: var(--body-text-color);
  margin: 4.563rem 0 0 0;
}

.page1_section_first {
  font-family: "OpenSans";
  font-weight: 300;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  margin: 0 0 0 0;
  letter-spacing: -0.04375rem;
}

.page1_section_second {
  font-family: "OpenSans";
  font-weight: 300;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  margin: 1.188rem 0 0 0;
  letter-spacing: -0.04375rem;
}
/*page1 end*/

/*page2 start*/
.page2 {
  background-image: url(img/page2_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.page2_title {
  padding-top: 6rem;
  margin: 0 0 0 1.25rem;
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.188rem;
  color: rgba(255, 255, 255, 1);
}

.page2_sub {
  margin: 1.25rem 0 4.625rem 1.25rem;
  font-family: "RotoMono";
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.02rem;
  text-align: left;
  opacity: 80%;
  color: rgba(228, 232, 235, 1);
}

.swiper {
  margin: 0 0 1.65rem 1.25rem;
  width: 21.25rem;
  height: 17.625rem;
  position: relative;
  overflow-y: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  justify-content: center;
}

.page2_swiper_image {
  position: relative;
  width: 17.583rem;
  height: 10.938rem;
  top: 0;
  left: 0;
}

.swiper-slide img {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 17.583rem;
  height: 10.938rem;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.page2_swiper_back_image {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 17.583rem;
  height: 10.938rem;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.swiper-slide-active img {
  opacity: 0.6;
}

.page2_swiper_innertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "OpenSans";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30.53px;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.page2_list {
  position: absolute;
  top: 63.4%;
  width: 16.188rem;
  height: 5.313rem;
  font-family: "OpenSans";
  font-size: 0.875rem;
  line-height: 1.188rem;
  font-weight: 300;
  text-align: left;
  padding-left: 0rem;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 0 0;
  list-style-type: none;
}

.page2_list li::before {
  content: "•";
  margin-right: 0.313rem;
}

#figma_logo{
  margin-left: 0.75rem; 
}

#notion_logo{
  margin-left: 0.563rem;
}

#github_logo {
 margin-left: 0.563rem;
}

#team_study_head {
  font-size: 0.875rem;
}
#team_study_tail {
  font-size: 0.625rem;
}

.swiper-slide-active ul {
  opacity: 1;
}

.page2_list li {
  margin: 0.875rem 0 0 0;
}

.page2_caution {
  margin: 0 0 0 2.25rem;
  list-style: none;
  font-family: "RotoMono";
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.688rem;
  letter-spacing: -0.02rem;
  text-align: left;
  color: rgba(228, 232, 235, 50);
  opacity: 50%;
}
/*page2 end*/

/*page3,4 start*/

/*화살표 애니메이션*/
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 움직임 크기 및 방향 조절 */
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1; /* 나타났다 사라지는 애니메이션 설정 */
  }
}

.page1_arrow_container {
  z-index: 60;
  position: fixed;
  bottom: 13rem;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  animation: moveUpDown 2s linear infinite;
}

#arrow {
  z-index: 60;
  width: 1.938rem;
  height: 0.563rem;
  opacity: 0; /* 초기에 투명하게 설정 */
  animation: fadeInOut 2s linear infinite; /* 나타나고 사라지는 애니메이션 설정 */
  transition: transform 0.5s ease, display 0.5s ease;
  transform: translateY(5rem);
}

.button-container {
  z-index: 55;
  position: fixed;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto 2.5rem auto;
  /* justify-content: center;
  align-items: center; */
  background-size: cover;
  background-repeat: no-repeat;

  bottom: 0.6rem;
  width: 20rem;
  height: 3.438rem; /* 버튼을 수직 가운데 정렬할 높이 설정 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */

  border-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-width: 0.063rem;
  color: white;
  font-family: "GoogleSans";
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 1.656rem; /* 모서리 둥근 직사각형 버튼 모양 설정 */
  background-color: #090a0d;
  cursor: pointer;
  outline: none;
}

.shadow {
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; /* 하단에 위치 */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  bottom: 0; /* 페이지 하단에 고정 */
  left: 0;
  right: 0;
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  height: 7.25rem; /* 원하는 블러 처리된 요소의 높이 설정 */
  background-color: #090a0d; /* 블러 처리된 배경 색상 설정 */
  backdrop-filter: blur(10px); /* 블러 처리 경계선 추가 */
  box-shadow: 0 0 25px 30px #090a0d, 0 0 60px 45px #090a0d;
}

/*page3 start*/
.page3 {
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #090a0d;
  background-size: cover;
  background-repeat: no-repeat;
}

.page3_title {
  text-align: left;
  padding-top: 4.5rem;
  margin: 0 0 2rem 2.125rem;
  font-family: "OpenSans"; /*타이틀 폰트*/
  font-weight: 600;
  font-size: 1.375rem;
}

.page3_content {
  color: rgba(255, 255, 255, 0.9);
  font-family: "NotoSans"; /*페이지3 내용 폰트*/
  font-weight: normal;
  font-size: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue_rectangle {
  margin-bottom: 0.75rem;
  width: 19.125rem;
  height: 3rem;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  position: relative;

  border-color: rgba(66, 133, 244, 1);
  border-style: solid;
  border-width: 0.088rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.green_rectangle {
  margin-bottom: 0.75rem;
  width: 19.125rem;
  height: 3rem;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  position: relative;

  border-color: rgba(52, 168, 83, 1);
  border-style: solid;
  border-width: 0.088rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.yellow_rectangle {
  margin-bottom: 0.75rem;
  width: 19.125rem;
  height: 3rem;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  position: relative;

  border-color: rgba(249, 171, 0, 1);
  border-style: solid;
  border-width: 0.088rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.red_rectangle {
  margin-bottom: 0.75rem;
  width: 19.125rem;
  height: 3rem;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  position: relative;

  border-color: rgba(234, 67, 53, 1);
  border-style: solid;
  border-width: 0.088rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.image {
  position: absolute;
  margin-left: 1.313rem;
  width:1.25rem;
  height:1.25rem;
}

.image_1 {
  margin-left: 1.313rem;
  width:1.25rem;
  height:1.25rem;
}

.text {
  width: 100%;
  text-align: center;
}

/*page3 end*/

/*page4 start*/
.page4 {
  color: white;
  width: 100%;
  height: 100vh;
  padding: 5rem 0 0 0;
  background-image: url(img/page4_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page4_title > p{
  text-align: left;
  font-family: "OpenSans"; /*타이틀 폰트*/
  font-weight: 600;
  font-size: 1.625rem;
  margin: 0 0 0.438rem 1.5rem;
}

.page4_title_sub {
  text-align: left;
  margin: 0 0 3.5rem 1.5rem;
  font-size: 0.625rem;
  letter-spacing: -0.0625em;
  color: #cecece;
}

#Eng {
  font-family: "NotoSans";
  font-weight: 300;
}

#KR {
  font-family: "OpenSans";
  font-weight: 300;
}

.page4_content {
  display: flex;
  margin-bottom: 5.563rem;
}

.page4_con_text1,
.page4_con_text2,
.page4_con_text3 {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 0.625rem;
  color: #ffffff;
  display: flex;
  width: 25.5556vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.page4_con_text1 {
  margin-left: 7.7778vw;
  margin-right: 3.8889vw;
}

.page4_con_text3 {
  margin-right: 7.7778rem;
  margin-left: 3.8889vw;
}

.page4_con_title1 {
  display: flex;
  font-family: "NotoSansKR"; /*페이지4 내용 제목 폰트*/
  font-weight: 600;
  font-size: 0.844rem;
  width: 25.5556vw;
  border-width: 0.038rem;
  border-style: solid;
  border-color: #fff8f8;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.813rem;
}
.page4_con_title2,
.page4_con_title3 {
  display: flex;
  font-family: "NotoSans"; /*페이지4 내용 제목 폰트*/
  font-weight: 600;
  font-size: 0.844rem;
  width: 25.5556vw;
  border-width: 0.038rem;
  border-style: solid;
  border-color: #fff8f8;
  aspect-ratio: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.813rem;
}

.page4_con_title1 {
  background-color: #ff6356;
  margin-left: 7.7778vw;
  margin-right: 3.8889vw;
}

.page4_con_title2 {
  background-color: #4fd473;
}

.page4_con_title3 {
  background-color: #ffc138;
  margin-right: 7.7778rem;
  margin-left: 3.8889vw;
}

.page4_plus_content {
  margin-left: 1.875rem;
  padding-left: 0.563rem;
  border-left-color: rgba(255, 255, 255, 0.4);
  border-left-width: 0.188rem;
  border-left-style: solid;
}

.page4_plus_content > p{
  font-family: "NotoSansKR";
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.313rem;
  color: rgba(255, 255, 255, 0.84);
}

.page4_plus_content > p > span{
  font-size: 0.625rem;
}
/*page4 end*/